# Django
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py

# Virtual Environments
venv/
env/
dp_env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Static/Media (optional)
/media/
/staticfiles/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store